html{
    min-height: 100%;
}
h4, h5, h6,
h1, h2, h3 {
    margin-top: 0;
}

ul, ol {
    margin: 0;
}

p {
    margin: 0;
}

html, body {
    font-family: 'Mukta', sans-serif;
    font-size: 100%;
    background: #ffffff;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

img {
    max-width: 100%;
    height: auto;
}
.topNavBar{
    font-family: 'Oswald', sans-serif;
    padding-bottom: 1%;
    padding-top: 1%;
    z-index: 1030;
    height: auto;
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}
.nav.navbar-nav.navbar-right li a {
    color: #FFFFFF;
}
.nav.navbar-nav.navbar-right li a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.nav.navbar-nav.navbar-right li a:focus {
    color: #FFFFFF;
}
.nav.navbar-nav.navbar-right li.active a {
    color: #da0000;
    background-color: #383a3e;
}
.languageSelector{
    height: auto;
    width: auto;
    display: block;
}
.topFlagImg{
    height: 50px;
    min-width: 60px;
    max-width: 74px;
    position: relative;
    display: inline-flex;
    padding: 10px;
}
.fastContact{
    height: auto;
    width: auto;
    display: block;

}
.fastContact a{
    position: relative;
    display: inline-flex;
}
a.facebook{
    height: 40px;
    width: 40px;
    background: url(../images/facebook-64.png) no-repeat;
    background-size: cover;
}
a.facebook:hover{
    background: url(../images/facebook-64-2.png) no-repeat;
    background-size: cover;
}

.mail{
    height: 40px;
    width: 40px;
    background: url(../images/email-5-64.png) no-repeat;
    background-size: cover;
}

.phone{
    height: 40px;
    width: 40px;
    background: url(../images/phone-5-64.png) no-repeat;
    background-size: cover;
}

.fastContactText{
    padding: 8px;
    color: #FFFFFF;
}

section{
    height: 120vh;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    /*-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size:100% 100%;
    background-size: 100% 100%;*/
}
.section-home{
    /*https://www.pexels.com/photo/full-frame-shot-of-multi-colored-pattern-330771/*/
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background: url(../images/home.jpeg) repeat fixed center;
    background-size: 100% 100%;
}
.section-about{
    /*https://pixabay.com/pl/znak-zapytania-wa%C5%BCne-zarejestruj-1872665/*/
    background: url(../images/about.jpg) no-repeat fixed center;
    background-size: 100% 100%;
}
.section-projects{
    /*https://pixabay.com/pl/budowlanych-rysunek-in%C5%BCynieria-2682641/*/
    background: url(../images/projects.jpg) no-repeat fixed center;
    background-size: 100% 100%;
}
.section-contact{
    /*https://www.pexels.com/photo/beige-analog-gauge-697662/*/
      background: url(../images/contact.jpeg) no-repeat fixed center;
    background-size: 100% 100%;
}
.content-section{
    font-family: 'Do Hyeon', sans-serif;
    color:#ffffff;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.content-section.content-home{
    margin-top: 20vh;
    -webkit-animation:jump 3s ease-out 3s 2 normal;
    -moz-animation:jump 3s ease-out 3s 2 normal;
    -ms-animation:jump 3s ease-out 3s 2 normal;
    animation:jump 3s ease-out 3s 2 normal;
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@-webkit-keyframes jump{
    0%{ -webkit-transform:translateY(0); transform:translateY(0); }
    20%{ -webkit-transform:translateY(0); transform:translateY(0); }
    40%{ -webkit-transform:translateY(-30px); transform:translateY(-30px); }
    50%{ -webkit-transform:translateY(0); transform:translateY(0); }
    60%{ -webkit-transform:translateY(-15px); transform:translateY(-15px); }
    80%{ -webkit-transform:translateY(0); transform:translateY(0); }
    100%{ -webkit-transform:translateY(0);transform:translateY(0); }
}

@keyframes jump{
    0%{ transform:translateY(0); }
    20%{ transform:translateY(0); }
    40%{ transform:translateY(-30px); }
    50%{ transform:translateY(0); }
    60%{ transform:translateY(-15px); }
    80%{ transform:translateY(0); }
    100%{ transform:translateY(0); }
}
.content-home h1{
    font-size: 80px;
}
.under-h1-home{
    background: rgb(169,3,41); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(169,3,41,1) 1%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%, rgba(169,3,41,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(169,3,41,1) 1%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%,rgba(169,3,41,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(169,3,41,1) 1%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%,rgba(169,3,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */
    height: 10px;
    transform: rotate(0deg) scale(1) skew(-40deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(-40deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(-40deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(-40deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(-40deg) translate(0px);
}

.homeButton{
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: rgba(75.64893185710197%,50.51115462313588%,49.188113716085034%,0);
    border-radius: 5px;
    border: 1px solid #ffffff;
    border-width: 1px 1px 1px 1px;
    padding: 10px 20px 10px 20px;
    box-shadow: inset 0px 1px 0px #ffffff,0px 1px 3px rgba(0,0,0,0.3);
    color: #da0000;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4)
}

.content-section.content-about{
    height: 100%;
    width: 100%;

}


/* face font*/

@font-face {
    font-family: Do Hyeon;
    src: url(/fonts/Do_Hyeon/DoHyeon-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(/fonts/Oswald/Oswald-Regular.ttf);
}
